   
   



body{
    background-color: rgb(26, 18, 18) ;
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0 !important;
    
    
}

.theGreatest{
    font-weight: normal;
    color: white;
    margin-top: 0 ;
    margin-bottom: 0;
    text-align: center; 
    font-weight: bold; 
    align-content: center;
    text-align: center; 



}

#rgbStr{
    color: blanchedalmond;
    align-content: center;
    text-align: center;   
    font-weight: 700;
    margin: 0;
    font-size: 40px;
    
     
}


#sixCubes{
   max-width: 600px;
   margin: 0 auto;   
}

.cube{
    background-color:red;
    width: 30%;
    float: left;
    padding-bottom: 30%;
    margin: 1.66%;
    border: 0px solid rgb(26, 18, 18);
    border-radius: 25px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

#topBar{
    background-color: rgb(105, 105, 243);
    height: 150px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    
}

#status{
    color:  rgb(105, 105, 243);
    width: 19%;
    display: inline-block;
    align-content: center;
    text-align: center;
    font-size: 1.2rem;
}

#statusDiv{
    height: 18.84px;
    text-align: center;
}

#newColorBtn{
    height: 100%;
    background: whitesmoke ;
    border: 0;
    outline: none !important;
    padding: 0;
    color: rgb(105, 105, 243);
    padding: 11px;
    font-weight: bold;
    
    
}

#botBar{
    height: 35px;
    text-align: center;
    background: whitesmoke;
    margin-bottom: 20px;  
}

.clickedBtn{
    background:  rgb(105, 105, 243);
    outline: none !important;
    height: 100%;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 1.1rem;
    
}
.unClickedBtn{
    background:  whitesmoke;
    outline: none !important;
    height: 100%;
    color: rgb(105, 105, 243);
    font-weight: unset;
    font-size: 1rem;


}

#easyBtn{  
    outline: none !important;
    border: 0;
    width: 100px;
}
#hardBtn{
    border: 0;
    outline: none !important;
    width: 100px;
}

button{
    letter-spacing: 1px; 
    text-transform: uppercase;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

.almostClicked{
    background: rgb(143, 143, 240);


}